interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.funselektorfun.com/artofrally/leaderboard/Finland_Stage_3_Reverse_Wet_60s/0/5
  response:
    body:
      string: '{"result":0,"leaderboard":[{"uniqueID":61,"userName":"courtney","rank":1,"score":182017,"country":166,"carID":2,"replayData":"dt7-h01v2Sa7OPgvnpDOnO6igys","platformID":5,"userID":"Switch_2273DD25A9A65AFB"},{"uniqueID":78,"userName":"P.M.","rank":2,"score":197453,"country":165,"carID":1,"replayData":"9uoXTiLNeFo9VPF8AAskbKBxPfY","platformID":5,"userID":"Switch_AFBB26AFD3ADA57B"},{"uniqueID":341,"userName":"Szymi","rank":3,"score":202854,"country":128,"carID":6,"replayData":"Wn186_2NvE9LOmeDt-39E1zJZ-0","platformID":5,"userID":"Switch_C84F6DE524C16725"},{"uniqueID":243,"userName":"GoldenM","rank":4,"score":205275,"country":53,"carID":6,"replayData":"-u3_Vs3aIiGSGIzYmdfjBrc[...]
