interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.funselektorfun.com/artofrally/leaderboard/Finland_Stage_3_Reverse_Wet_GroupB/0/5
  response:
    body:
      string: "{\"result\":0,\"leaderboard\":[{\"uniqueID\":1474,\"userName\":\"courtney\",\"rank\":1,\"score\":163345,\"country\":166,\"carID\":8,\"replayData\":\"vn7T6nlri7klzA7s2QVBciyhVB0\",\"platformID\":5,\"userID\":\"Switch_2273DD25A9A65AFB\"},{\"uniqueID\":1801,\"userName\":\"GirthDaddy\",\"rank\":2,\"score\":168461,\"country\":27,\"carID\":4,\"replayData\":\"qBmxpE_n3kO-uiR56zTgg6wVTpk\",\"platformID\":5,\"userID\":\"Switch_27AF36DB37889147\"},{\"uniqueID\":1070,\"userName\":\"Dark_Khan\",\"rank\":3,\"score\":171384,\"country\":103,\"carID\":15,\"replayData\":\"CjrxE7HZRk6X4Lui0svsiT2Nknw\",\"platformID\":5,\"userID\":\"Switch_E3C2E0A786BC3CE0\"},{\"uniqueID\":919,\"userName\":\"Alex\",\"rank\":4,\"score[...]
