interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.funselektorfun.com/artofrally/leaderboard/Finland_Stage_1_Forward_Dry_60s/0/2
  response:
    body:
      string: '{"result":0,"leaderboard":[{"uniqueID":32,"userName":"Myth","rank":1,"score":77630,"country":9,"carID":0,"replayData":"9tpKFvCAWJ6OMmpXl3GN-UVBg2s","platformID":2,"userID":"76561198009321752"},{"uniqueID":51080,"userName":"Proporo","rank":2,"score":78650,"country":52,"carID":0,"replayData":"nPEZLtM2Jm8ZJVxVHfW-glsHMQo","platformID":2,"userID":"76561197960981627"},{"uniqueID":1882,"userName":"Get
        Goblinated","rank":3,"score":78805,"country":166,"carID":5,"replayData":"L-amfbxZ3p250r4w-JjE_ZucalM","platformID":2,"userID":"76561198000831544"},{"uniqueID":29,"userName":"Lee
        Boon","rank":4,"score":78986,"country":77,"carID":0,"replayData":"fLdg3t_sWuQQK[...]
